---
- name: Set OS dependent variables
  include_vars: "{{ item }}"
  with_first_found:
   - "{{ ansible_distribution }}_{{ ansible_distribution_major_version }}.yml"
   - "{{ ansible_distribution }}_{{ ansible_distribution_version }}.yml"
   - "{{ ansible_distribution }}.yml"
   - "{{ ansible_os_family }}_{{ ansible_distribution_major_version }}.yml"
   - "{{ ansible_os_family }}.yml"
   - default.yml

- import_tasks: debian.yml
  when: ansible_facts['os_family']|lower == 'debian'

- import_tasks: OpenBSD.yml
  when: ansible_facts['os_family'] == 'OpenBSD'
