# {{ ansible_managed }}
#!/usr/bin/env zsh
#
# backup-script, Alex 'thalunil' Bihlmaier
# 20200308
#
# using borgbackup (https://www.borgbackup.org/)

DATE=`date +%F`
umask 027

# defaults
# delete_date is for snapshots which get purged after specified age
delete_date=$(date -d "7 days ago" +%F)
backup_dir="/backup"
snapshot_dir="/snapshot"
snapshot_num="3"
USE_SNAPSHOT=false
BORG_REPO=""
BORG_BACKUP_DIR=""
BORG_PRUNE_DAILY="21"
BORG_PRUNE_MONTHLY="6"

usage() {
cat << EOF
Aufruf:
	-h: this information / help
	-b: run borgbackup

Konfigurationsdatei /etc/backup.conf
                    ----------------
 BORG_REPO="<borgbackup archive>"
 BORG_BACKUP_DIR="<backup directories - space separated>"
 DEBUG=true (enable debugging)
EOF
}

setup () {
 if [[ -f /etc/backup.conf ]]; then
 	source /etc/backup.conf
 fi
}

# rename the old/previous snapshot to subsequent numbers
rename_snapshots () {
	for i in $(seq $((--snapshot_num)) -1 0)
	do      
        	if [ -d "$snapshot_dir/$i" ]; then
			if [ -n "$DEBUG" ]; then echo "### DEBUG: SNAPshot: rotating $snapshot_dir/$i"; fi
			mv $snapshot_dir/$i $snapshot_dir/$((i+1))
		fi
	done
	}

## Snapshot routine for btrfs root filesystem
mksnapshot () {
	echo "### INFO: SNAPshot: creating btrfs snapshot of / - date of snapshot: see /snapshot.info"
	echo "snapshot creation: $DATE" > /snapshot.info
	btrfs subvolume snapshot / "$snapshot_dir"/0
}

run_borg () {
	echo "## BORGbackup - $DATE"
	if [[ -z "$BORG_REPO" ]] || [[ -z "$BORG_BACKUP_DIR" ]]; then
		echo "Failed! Either '$BORG_REPO' or '$BORG_BACKUP_DIR' is empty!"
		echo "'$BORG_REPO': $BORG_REPO"
		echo "'$BORG_BACKUP_DIR': $BORG_BACKUP_DIR"
		echo
		usage
		exit 1;
	fi
	if type borg > /dev/null 2>&1; then
		echo -n "## Starting at: "; date +%H:%M
		echo "### borg repo (\$BORG_REPO): $BORG_REPO"
		echo "### backup directories (\$BORG_BACKUP_DIR): $BORG_BACKUP_DIR"
		borg create -s -e "*/nobackup/" $BORG_REPO::{hostname}-{now} ${=BORG_BACKUP_DIR}
		echo "### borg repo: Cleanup - Keep $BORG_PRUNE_MONTHLY monthly/$BORG_PRUNE_DAILY daily backups"
		borg prune --stats --list --keep-monthly $BORG_PRUNE_MONTHLY --keep-daily $BORG_PRUNE_DAILY "$BORG_REPO"
		echo "### borg repo: cleanup finished"
		echo -n "## Finished at: "; date +%H:%M
	else
		echo "## borgbackup not found - please install"
	fi
}

run_btrfs_snapshot () {
	case "$snapshot_num" in
	 [[:digit:]]*)
		if [ ! $snapshot_num -ge 1 ]; then
			echo "not a valid number - snapshot count must be greater than 1"
			exit 1
		fi
      		;;
	*)
       		echo "### INFO: /etc/archlinux-backup.conf - \$snapshot_num not set - using defaults"
       		;;
	esac
# create snapshot directory
 if ! [[ -d "$snapshot_dir" ]]; then
	mkdir "$snapshot_dir" && chmod 0750 "$snapshot_dir" && chown root:thalunil "$snapshot_dir"
 else
	chmod 0750 "$snapshot_dir" && chown root:thalunil "$snapshot_dir"
 fi	
## BTRFS snapshots
# Check to see if use_snapshots is true and if / is a valid btrfs filesystem
 echo "#########################"
 if [ "X$USE_SNAPSHOTS" = "Xtrue" ] && btrfs filesystem show / > /dev/null 2>&1; then
	echo "## btrfs snapshot creation"
	echo -n "## Starting at: "; date +%H:%M
	purge_oldest_snapshot
	rename_snapshots 
	mksnapshot
	echo -n "## Finished at: "; date +%H:%M
 else
	echo "## btrfs snapshot creation either disabled or / is not a valid btrfs filesystem"
 fi
}

run_full () {
 echo "#########################"
 # Archlinux
 if [ -e "/etc/arch-release" ] && type pacman > /dev/null 2>&1; then
	echo "## archlinux: Dumping Pacman Package List - $backup_dir/pkglist.txt"
	pacman -Qqe > "$backup_dir/pkglist.txt"
 else
	echo "## archlinux: not a valid archlinux platform - skipping archlinux specifics"
 fi

 echo "#########################"

run_btrfs_snapshot

run_borg

echo "#########################"
echo "## local disk space"
df -h -x tmpfs
echo "#########################"
}

if [ $# = 0 ]; then; usage; exit; fi

case $1 in
	-h)
		usage
		;;
	-b)
		setup
		run_borg
		;;
	*)
		usage
		;;
esac
