# {{ ansible_managed }}

# This is the smtpd server system-wide configuration file.
# See smtpd.conf(5) for more information.

# To accept external mail, replace with: listen on all
listen on {{ opensmtpd_interface }}

# If you edit the file, you have to run "smtpctl update table aliases"
table aliases file:{{ opensmtpd_aliases_file }}

{% if opensmtpd_smtp_auth is defined %}table smtp-auth file:{{ opensmtpd_smtp_auth }}{% endif %}

action "local" mbox alias <aliases>
match for local action "local"

{% if opensmtpd_mailrelay is defined %}
action "relay" relay host {{ opensmtpd_mailrelay }}
match for any action "relay"
{% endif %}
