---
- name: Proxmox VE repository key http://download.proxmox.com/debian/proxmox-ve-release-6.x.gpg
  get_url:
    url:  http://download.proxmox.com/debian/proxmox-ve-release-6.x.gpg 
    dest: /etc/apt/trusted.gpg.d/proxmox-ve-release-6.x.gpg

- name: /etc/apt/sources.list.d/proxmox.list
  template:
    src:  "proxmox.list.j2"
    dest: "/etc/apt/sources.list.d/proxmox.list"
  notify: 
    - apt_update

- name: Install Proxmox VE
  apt:
    name:  "{{ proxmox_packages }}"
    state: present
    update_cache: true

- name: service glusterd enabled and started
  service:
    name:     glusterd
    enabled:  true
    state:    started

- name: bridge-start + bridge-stop scripts
  template:
    src:    "bridge-start"
    dest:   "/etc/openvpn"
    mode:   0755
    force:  no

- name: openvpn client Konfiguration
  file:
    dest:   "/etc/openvpn/client/pve-client.conf"
    state:  absent

- name: /etc/openvpn/client/static.key
  file:
    name:   "/etc/openvpn/client/static.key"
    state:  absent

- name: service openvpn client enabled and started
  service:
    name:     openvpn-client@pve-client
    enabled:  true
    state:    started
  notify: systemctl daemon-reload

- name: remove enterprive repository
  file:
    dest:   "/etc/apt/sources.list.d/pve-enterprise.list"
    state:  absent
