---
- name: "display_manager restart"
  service:
    name:  display-manager
    state: restarted

- name: newaliases
  command: newaliases

- name: postfix-reload
  service:
    name: postfix
    state: reloaded

- name: udevadm reload
  command: udevadm control --reload

- name: netconfig update -f
  command: netconfig update -f

- name: restart munin-node
  service: name=munin-node state=restarted
