# vim:ft=ansible:
---
  #- name: rebuild smtpd table aliases
  #command: makemap /etc/smtpd/aliases
  #become: true

- name: rebuild locales
  command: locale-gen

- name: rebuild pacman cache
  command: pacman -Sy

- name: restart rsyslogd
  service: name=rsyslog state=restarted

- name: restart journald
  service: name=systemd-journald state=restarted

- name: update /etc/resolv.conf
  command: resolvconf -u

- name: systemctl daemon-reload
  command: systemctl daemon-reload

- name: restart dnscrypt-proxy
  service: name=dnscrypt-proxy state=restarted

- name: reload systemd-timesyncd
  service: name=systemd-timesyncd state=restarted

- name: grub-mkconfig
  command: grub-mkconfig -o /boot/grub/grub.cfg
