# vim:ft=ansible:
---
- name: restart smtpd
  service: name=smtpd state=restarted
  #- name: rebuild smtpd table aliases
  #command: makemap /etc/smtpd/aliases
  #become: true

- name: reload smartd
  service: name=smartd state=reloaded
  
- name: rebuild locales
  command: locale-gen

- name: rebuild pacman cache
  command: pacman -Sy

- name: restart rsyslogd
  service: name=rsyslog state=restarted

- name: restart journald
  service: name=systemd-journald state=restarted

- name: update /etc/resolv.conf
  command: resolvconf -u

- name: systemctl daemon-reload
  command: systemctl daemon-reload
