---
# install software for arch desktop
- name: "Arch desktop: Install Packages {{ arch_desktop_packages }}"
  pacman:
    name: "{{ arch_desktop_packages }}"
    state: present
    
- name: "Arch desktop: /etc/lightdm/lightdm-gtk-greeter.conf"
  template:
    src:      lightdm-gtk-greeter.conf.j2
    dest:     /etc/lightdm/lightdm-gtk-greeter.conf
    mode:     0644
    owner:    root
    group:    root
- name: "Arch desktop: /usr/share/pixmaps/lightdm-background.jpg"
  copy:
    src:      lightdm-background.jpg
    dest:     /usr/share/pixmaps/lightdm-background.jpg
    mode:     0644
    owner:    root
    group:    root

- name: "Arch desktop: ensure display manager {{ display_manager }} is running and enabled"
  service:
    name:     "{{ display_manager }}"
    enabled:  "yes"
    state:    "started"
  when: display_manager is defined

- name: "Arch desktop: Xorg keyboard layout"
  command: localectl set-x11-keymap de
  args:
    creates: /etc/X11/xorg.conf.d/00-keyboard.conf
