---
# install software for arch desktop
- name: "Arch desktop: Install Packages {{ arch_desktop_packages }}"
  pacman:
    name: "{{ arch_desktop_packages }}"
    state: present
    
- name: "Arch desktop: /etc/lightdm/lightdm-gtk-greeter.conf"
  template:
    src:      lightdm-gtk-greeter.conf.j2
    dest:     /etc/lightdm/lightdm-gtk-greeter.conf
    mode:     0644
    owner:    root
    group:    root
- name: "Arch desktop: /usr/share/pixmaps/lightdm-background.jpg"
  copy:
    src:      lightdm-background.jpg
    dest:     /usr/share/pixmaps/lightdm-background.jpg
    mode:     0644
    owner:    root
    group:    root

- name: "Arch desktop: ensure display manager {{ display_manager }} is running and enabled"
  service:
    name:     "{{ display_manager }}"
    enabled:  "yes"
    state:    "started"
  when: display_manager is defined

- name: "Arch desktop: Xorg keyboard layout"
  command: localectl set-x11-keymap de
  args:
    creates: /etc/X11/xorg.conf.d/00-keyboard.conf

- name: "Arch desktop: /etc/udev/rules.d/49-onlykey.rules"
  copy:
    src:  "udev-onlykey-rules"
    dest: "/etc/udev/rules.d/49-onlykey.rules"
  notify: "udevadm reload"

# https://www.reddit.com/r/firefox/comments/bspfnz/remember_to_protect_yourselves_against_idn/
# test IDN domain: https://www.xn--80ak6aa92e.com/
# https://wiki.archlinux.org/index.php/Firefox
- name: "Arch desktop: firefox settings lock"
  copy:
    content: |
      pref("general.config.obscure_value", 0);
      pref("general.config.filename", "mozilla.cfg");
    dest: "/usr/lib/firefox/defaults/pref/local-settings.js"
- name: "Arch desktop: firefox settings lock"
  copy:
    content: |
      // e.g to disable Pocket, uncomment the following line
      lockPref("browser.pocket.enabled", false);
      lockPref("network.IDN_show_punycode", true);
    dest: "/usr/lib/firefox/defaults/pref/mozilla.cfg"

