# vim:ft=ansible:
---
- name: /etc/pacman.d/mirrorlist
  template:
    src:    mirrorlist.j2
    dest:   /etc/pacman.d/mirrorlist
    owner:  root
    group:  wheel
    mode:   0640
  tags: archlinux

- name: cronjob /etc/cron.daily/update-pacman-cache
  copy:
    content: "#!/bin/sh\n
    pacman -Syq --noprogressbar\n"
    dest:     /etc/cron.daily/update-pacman-cache
    mode:     0755
    owner:    root
    group:    root
  tags: archlinux

- name: install software with pacman
  pacman: name="{{item}}" state=present
  with_items: "{{archlinux_packages}}"
  tags: archlinux

- name: /etc/locale.gen
  template:
    src:      locale.gen.j2
    dest:     /etc/locale.gen
    backup:   yes
  notify: rebuild locales
  tags: archlinux

- name: /etc/locale.conf
  template:
    src:      locale.conf.j2
    dest:     /etc/locale.conf
    backup:   yes
  tags: archlinux

- name: /etc/smartd.conf
  template:
    src:      smartd.conf.j2
    dest:     /etc/smartd.conf
    mode:     0644
    owner:    root
    group:    root
  notify:
    - reload smartd

- name: /etc/lightdm/lightdm-gtk-greeter.conf
  template:
    src:      lightdm-gtk-greeter.conf.j2
    dest:     /etc/lightdm/lightdm-gtk-greeter.conf
    mode:     0644
    owner:    root
    group:    root
- name: /usr/share/pixmaps/lightdm-background.jpg
  copy:
    src:      lightdm-background.jpg
    dest:     /usr/share/pixmaps/lightdm-background.jpg
    mode:     0644
    owner:    root
    group:    root

# documentation in linux/Documentation/filesystems/proc.txt
- name: /proc filesystem permissions
  lineinfile:
    path:   /etc/fstab
    regexp: "^proc"
    line:   "proc	/proc	proc	nosuid,nodev,noexec,hidepid=2,gid=proc	0	0"

# Restrict access to kernel logs
# 1 = active, 0 = disabled
- name: /etc/sysctl.d/dmesg-restrict.conf
  copy:
    content:  "kernel.dmesg_restrict = 1"
    dest:     /etc/sysctl.d/dmesg-restrict.conf
    mode:     0644
    owner:    root
    group:    root

- copy:
    src:    pam.d-su
    dest:   /etc/pam.d/su
    owner:  root
    group:  root
    mode:   0640
    backup: yes
 
- copy:
    src:    pam.d-su-l
    dest:   /etc/pam.d/su-l
    owner:  root
    group:  root
    mode:   0640
    backup: yes
  
- copy:
    src:    pam.d-passwd
    dest:   /etc/pam.d/passwd
    owner:  root
    group:  root
    mode:   0640
    backup: yes

- copy:
    src:    pam.d-system-login
    dest:   /etc/pam.d/system-login
    owner:  root
    group:  root
    mode:   0640
    backup: yes
 
- name: pacman configuration - /etc/pacman.conf
  copy:
    src:    pacman.conf
    dest:   /etc/pacman.conf
    owner:  root
    group:  wheel
    mode:   0640
    backup: yes
- name: /etc/pacman.d/hooks
  file:
    path:  /etc/pacman.d/hooks
    state: directory
- name: /etc/pacman.d/hooks/paccache.hook
  copy:
    src:  paccache.hook
    dest: /etc/pacman.d/hooks/paccache.hook

- name: ensure services running and enabled
  service: name="{{ item }}" enabled="yes" state="started"
  with_items:
    - smtpd
    - unbound
    - smartd
    - sshd

# resolvconf configuration for using a localhost dns resolver
- name: /etc/resolvconf.conf
  copy:
    src:      "resolvconf.conf"
    dest:     "/etc/resolvconf.conf"
    mode:     0644
    owner:    root
    group:    root
