---
- name: "user variable set: {{ user }} "
  assert:
    that: user != false

- name: "~/.zshrc.pre removed"
  file:
    dest:   ~{{user}}/.zshrc.pre
    state:  absent

- name: ~/.zshrc file
  copy: src=zshrc dest=~{{user}}/.zshrc owner={{user}} group={{group}}

- name: ~/.zshrc.grml file
  copy: src=zshrc.grml dest=~{{user}}/.zshrc.grml owner={{user}} group={{group}}

- name: "~{{user}}/.liquidprompt/"
  file:
    path:   "~{{user}}/.liquidprompt"
    state:  directory

- name: "~{{user}}/.liquidprompt/liquidprompt"
  copy:
    src:    "liquidprompt"
    dest:   "~{{user}}/.liquidprompt/liquidprompt"
    owner:  "{{user}}"
    group:  "{{group}}"

- name: ~/.vimrc file
  copy: src=vimrc dest=~{{user}}/.vimrc owner={{user}} group={{group}}

- name: "~{{user}}/.config/redshift.conf"
  copy:
    dest:   "~{{user}}/.config/redshift.conf"
    owner:  "{{user}}"
    group:  "{{group}}"
    mode:   0644
    content: |
      [redshift]
      location-provider=manual
      brightness-day=0.7
      brightness-night=0.5
      [manual]
      lat=47.26
      lon=11.39

- name: "~{{user}}/.config/xfce4/xfconf/xfce-perchannel-xml/"
  file:
    path:   "~{{user}}/.config/xfce4/xfconf/xfce-perchannel-xml/"
    state:  directory
- name: "~{{user}}/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-keyboard-shortcuts.xml"
  copy:
    src:    "xfce4-keyboard-shortcuts.xml"
    dest:   "~{{user}}/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-keyboard-shortcuts.xml"
    owner:  "{{user}}"
    group:  "{{group}}"
    mode:   0644

- name: "~{{user}}/.config/Thunar/"
  file:
    path:   "~{{user}}/.config/Thunar/"
    state:  directory
- name: "~{{user}}/.config/Thunar/uca.xml"
  copy:
    src:    "thunar-uca.xml"
    dest:   "~{{user}}/.config/Thunar/uca.xml"
    owner:  "{{user}}"
    group:  "{{group}}"
    mode:   0644
