---
- name: "backup - install software"
  zypper:
    name:   [ 'borgbackup' ]
    state:  present

- name: "backup - /backup directory"
  file:
    path: /backup
    state: directory

- name: "backup - /usr/local/bin directory"
  file:
    path:   /usr/local/bin
    state:  directory

- name: "backup - backup script for suse systems"
  copy:
    src:      "backup"
    dest:     "/usr/local/bin/backup"
    mode:     0755
    owner:    root
    group:    root

- name: "backup - crontab /etc/cron.d/backup"
  file:
    path:   "/etc/cron.d/backup"
    state:  absent

- name: "backup - /etc/cron.daily/backup"
  copy:
    dest:   "/etc/cron.daily/backup"
    mode:   0755
    content: |
      #/bin/bash
      /usr/local/bin/backup -b
