---
- name: load variables
  include_vars: "desktop.yml"

# install software for suse desktop
- name: "desktop: Install Packages: {{install_packages}}"
  zypper:
    name: "{{install_packages}}"
    state: present

- name: "desktop: Install patterns"
  zypper:
    name: "{{install_pattern}}"
    state: present
    type: pattern
    disable_recommends: no

- name: "desktop: Slick configuration"
  template:
    src: slick-greeter.conf.j2
    dest: "{{ slick_greeter_conf }}"

- name: "desktop: Remove packages"
  zypper:
    name: "{{ remove_packages }}"
    state: absent

- name: "desktop: Symlink für Displaymanager"
  file:
    src:    /usr/lib/X11/displaymanagers/{{display_manager}}
    dest:   /etc/alternatives/default-displaymanager
    state:  link
  notify: "display_manager restart"

- name: "desktop: Symlink für Displaymanager"
  file:
    src:    "/usr/lib/systemd/system/display-manager.service"
    dest:   "/etc/systemd/system/display-manager.service"
    state:  link

- name: "desktop: /etc/udev/rules.d/49-onlykey.rules"
  copy:
    src:  "udev-onlykey-rules"
    dest: "/etc/udev/rules.d/49-onlykey.rules"
  notify: "udevadm reload"
