# vim:ft=ansible:
---
- include_tasks: zypper_repositories.yml

- include_tasks: backup.yml

- include_tasks: desktop.yml
  when:
    - suse_desktop_enable

- name: /etc/tmpfiles.d/tmp-clean.conf
  copy:
    content:  "d /tmp 1777 root root 0"
    dest:     "/etc/tmpfiles.d/tmp-clean.conf"
    mode:     0644
    owner:    root
    group:    root

- name: /etc/aliases
  template:
    src:    "aliases.j2"
    dest:   "/etc/aliases
    mode:   0644
    owner:  root
    group:  root"
  notify: newaliases

- name: ensure services running and enabled
  service: name="{{ item }}" enabled="yes" state="started"
  with_items: "{{ suse_daemons }}"
