# vim:ft=ansible:
---
- name: Set variables
  include_vars: "{{ item }}"
  with_first_found:
   - default.yml

- include_tasks: zypper_repositories.yml

- name: install suse standard software
  zypper:
    name:               "{{ install_packages }}"
    state:              present
    disable_recommends: no

- include_tasks: backup.yml

- include_tasks: desktop.yml
  when:
    - suse_desktop_enable|bool

- name: /etc/tmpfiles.d/tmp-clean.conf
  copy:
    content:  "d /tmp 1777 root root 0"
    dest:     "/etc/tmpfiles.d/tmp-clean.conf"
    mode:     0644
    owner:    root
    group:    root

- name: /etc/aliases
  template:
    src:    aliases.j2
    dest:   /etc/aliases
    mode:   0644
    owner:  root
    group:  root
  notify: newaliases
  
- name: Postfix /etc/postfix/main.cf
  template:
    src:    postfix-main.cf.j2
    dest:   /etc/postfix/main.cf
    mode:   0644
    owner:  root
    group:  root
  notify: postfix-reload

- name: ensure services running and enabled
  service: name="{{ item }}" enabled="yes" state="started"
  with_items: "{{ suse_daemons }}"

- name: weekly suse auto-update
  file:
    src:    "/usr/lib/YaST2/bin/online_update"
    dest:   "/etc/cron.weekly/opensuse.org-online_update"
    state:  link
- name: suse auto-update configuration
  template:
    src:    automatic_online_update.j2
    dest:   /etc/sysconfig/automatic_online_update
    mode:   0644
    owner:  root
    group:  root
