---
- name: Set variables
  include_vars: "{{ item }}"
  with_first_found:
   - "{{ ansible_distribution }}_{{ ansible_distribution_version }}.yml"
   - "{{ ansible_distribution }}.yml"
   - "{{ ansible_os_family }}_{{ ansible_distribution_version }}.yml"
   - "{{ ansible_os_family }}.yml"
   - default.yml

- name: "/etc/motd"
  copy:
    dest: "/etc/motd"
    content: |
      Have a lot of fun...on {{ ansible_distribution }} {{ ansible_distribution_version }}

- name: "/etc/hostname"
  copy:
    dest:     "/etc/hostname"
    content:  "{{ansible_host}}\n"

- name: "/etc/sysconfig/network/config"
  template:
    src:    templates/network-config.j2
    dest:   /etc/sysconfig/network/config
    mode:   0644
    owner:  root
    group:  root
  notify: netconfig update -f

- include_tasks: zypper_repositories.yml

- name: "install suse standard software: {{ install_packages }}"
  zypper:
    name:               "{{ install_packages }}"
    state:              present
    disable_recommends: no

- include_tasks: backup.yml

- include_tasks: desktop.yml
  when:
    - suse_desktop_enable|bool

- include_tasks: server.yml
  when:
    - suse_server_enable|bool

- name: /etc/tmpfiles.d/tmp-clean.conf
  copy:
    content:  "d /tmp 1777 root root 0"
    dest:     "/etc/tmpfiles.d/tmp-clean.conf"
    mode:     0644
    owner:    root
    group:    root

- name: /etc/aliases
  template:
    src:    aliases.j2
    dest:   /etc/aliases
    mode:   0644
    owner:  root
    group:  root
  notify: newaliases
  
- name: Postfix /etc/postfix/main.cf
  template:
    src:    postfix-main.cf.j2
    dest:   /etc/postfix/main.cf
    mode:   0644
    owner:  root
    group:  root
  notify: postfix-reload

- name: "ensure services running and enabled: {{ suse_daemons }}"
  service: name="{{ item }}" enabled="yes" state="started"
  with_items: "{{ suse_daemons }}"

- name: weekly suse auto-update
  file:
    src:    "/usr/lib/YaST2/bin/online_update"
    dest:   "/etc/cron.weekly/opensuse.org-online_update"
    state:  link
- name: suse auto-update configuration
  template:
    src:    automatic_online_update.j2
    dest:   /etc/sysconfig/automatic_online_update
    mode:   0644
    owner:  root
    group:  root

# Munin - Network-wide graphing framework (node)
- include_tasks: munin-node.yml
  when: enable_munin_node|bool

# Group dialout
- name: 'add user {{ user }} to group "dialout"'
  user:
    name:   "{{user}}"
    append: yes
    groups: "dialout"
  when: user is defined

- include_tasks: mount.yml
  with_flattened:
    - "{{ mount_list}}"
    - "{{ mount_host }}"
    - "{{ mount_group }}"
  loop_control:
    loop_var: mount
  when: mount is defined

- name: "/etc/sudoers.d/suse"
  copy:
    dest: "/etc/sudoers.d/suse"
    content: |
      %wheel ALL=(ALL:ALL) NOPASSWD: /usr/bin/zypper dup --no-allow-vendor-change
      %wheel ALL=(ALL:ALL) NOPASSWD: /usr/bin/zypper up
