---
- name: "Munin: install {{ item }}"
  zypper:
    name:               "{{ item }}"
    state:              present
  with_items:
    - perl-Net-CIDR-Lite
    - munin-node

- name: "Munin: /etc/munin/munin-node.conf"
  template:
    src:    munin-node.conf.j2
    dest:   /etc/munin/munin-node.conf
    owner:  root
    group:  root
    mode:   0640
  notify:
    - restart munin-node
    
- name: 'Munin: add user {{ user }} to group "munin"'
  user:
    name:   "{{user}}"
    append: yes
    groups: "munin"
  when: user is defined

