#!/bin/sh
# Send a mail when invoking a login/interactive shell
if [[ "$-" == *i* ]]; then
MAILTEXT="\
LOGIN
-----
Host:     $(hostname)
Date:     $(date)
User:     $USER
Shell:    $SHELL
"
MAILSUBJECT="Login: $(hostname) - $USER"
echo "$MAILTEXT" | mutt -s "$MAILSUBJECT" {{adminmail}}
fi
