#!/bin/sh
# Send a mail when invoking a login/interactive shell

# MUA check
if type neomutt > /dev/null; then
	MAILCMD="neomutt -B"
elif type mail > /dev/null; then
	MAILCMD="mail"
else
	echo "### loginmail inactive - no suitable MUA found"
	return 1
fi

if [[ "$-" == *i* ]]; then
MAILTEXT="\
LOGIN
-----
Host:     $(hostname)
Date:     $(date)
User:     $USER
Shell:    $SHELL
"
MAILSUBJECT="Login: $(hostname) - $USER"
echo "$MAILTEXT" | "$MAILCMD" -s "$MAILSUBJECT" {{adminmail}}
fi
