#!/bin/sh
# Send a mail when invoking a login/interactive shell

# MUA check
if type neomutt > /dev/null; then
	MAILCMD=neomutt
elif type mutt > /dev/null; then
	MAILCMD=mutt
else
	echo "no mutt found - exiting"
	exit 0
fi

if [[ "$-" == *i* ]]; then
MAILTEXT="\
LOGIN
-----
Host:     $(hostname)
Date:     $(date)
User:     $USER
Shell:    $SHELL
"
MAILSUBJECT="Login: $(hostname) - $USER"
echo "$MAILTEXT" | "$MAILCMD" -s "$MAILSUBJECT" {{adminmail}}
fi
